.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text {
  font-size: 18px;
}
